.tippy-box[data-animation="raise"][data-state="hidden"] {
  opacity: 0;
  transform: translateY(5px);
}
.fab {
  transition: all 0.25s ease;
}
.fab:hover {
  transition: all 0.25s ease;
}
a {
  transition: all 0.25s ease;
}
a:hover {
  transition: all 0.25s ease;
  color: #fff;
  text-decoration: none;
}
a:focus {
  color: #fff;
  text-decoration: none;
}

.fa-github {
    color: #fff;
}

.fa-html5 {
    color: #ff0000;
}

.fa-css3-alt {
    color: #0077ff;
}